# Lab | Data Aggregation and Filtering

In this challenge, we will continue to work with customer data from an insurance company. We will use the dataset called marketing_customer_analysis.csv, which can be found at the following link:

https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis.csv

This dataset contains information such as customer demographics, policy details, vehicle information, and the customer's response to the last marketing campaign. Our goal is to explore and analyze this data by first performing data cleaning, formatting, and structuring.

In [1]:
import pandas as pd

url = 'https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis.csv'

df = pd.read_csv(url)
df.shape

(10910, 26)

In [2]:
df.columns

Index(['Unnamed: 0', 'Customer', 'State', 'Customer Lifetime Value',
       'Response', 'Coverage', 'Education', 'Effective To Date',
       'EmploymentStatus', 'Gender', 'Income', 'Location Code',
       'Marital Status', 'Monthly Premium Auto', 'Months Since Last Claim',
       'Months Since Policy Inception', 'Number of Open Complaints',
       'Number of Policies', 'Policy Type', 'Policy', 'Renew Offer Type',
       'Sales Channel', 'Total Claim Amount', 'Vehicle Class', 'Vehicle Size',
       'Vehicle Type'],
      dtype='object')

In [3]:
df.dtypes

Unnamed: 0                         int64
Customer                          object
State                             object
Customer Lifetime Value          float64
Response                          object
Coverage                          object
Education                         object
Effective To Date                 object
EmploymentStatus                  object
Gender                            object
Income                             int64
Location Code                     object
Marital Status                    object
Monthly Premium Auto               int64
Months Since Last Claim          float64
Months Since Policy Inception      int64
Number of Open Complaints        float64
Number of Policies                 int64
Policy Type                       object
Policy                            object
Renew Offer Type                  object
Sales Channel                     object
Total Claim Amount               float64
Vehicle Class                     object
Vehicle Size                      object
Vehicle Type                      object
dtype: object

In [4]:
df.columns = df.columns.str.lower()
df.columns = df.columns.str.replace(" ", "_")
df.columns

Index(['unnamed:_0', 'customer', 'state', 'customer_lifetime_value',
       'response', 'coverage', 'education', 'effective_to_date',
       'employmentstatus', 'gender', 'income', 'location_code',
       'marital_status', 'monthly_premium_auto', 'months_since_last_claim',
       'months_since_policy_inception', 'number_of_open_complaints',
       'number_of_policies', 'policy_type', 'policy', 'renew_offer_type',
       'sales_channel', 'total_claim_amount', 'vehicle_class', 'vehicle_size',
       'vehicle_type'],
      dtype='object')

In [21]:
#df = df.drop('unnamed:_0', axis=1)

In [22]:
df = df.drop('vehicle_type', axis=1)

In [23]:
df.columns

Index(['customer', 'state', 'customer_lifetime_value', 'response', 'coverage',
       'education', 'effective_to_date', 'employmentstatus', 'gender',
       'income', 'location_code', 'marital_status', 'monthly_premium_auto',
       'months_since_last_claim', 'months_since_policy_inception',
       'number_of_open_complaints', 'number_of_policies', 'policy_type',
       'policy', 'renew_offer_type', 'sales_channel', 'total_claim_amount',
       'vehicle_class', 'vehicle_size'],
      dtype='object')

In [37]:
df['number_of_open_complaints'] = df['number_of_open_complaints'].fillna(0)
df['number_of_open_complaints'].unique()

array([0., 3., 1., 2., 4., 5.])

In [40]:
df['number_of_open_complaints'] = df['number_of_open_complaints'].astype(int)
df.dtypes

customer                          object
state                             object
customer_lifetime_value          float64
response                          object
coverage                          object
education                         object
effective_to_date                 object
employmentstatus                  object
gender                            object
income                             int64
location_code                     object
marital_status                    object
monthly_premium_auto               int64
months_since_last_claim          float64
months_since_policy_inception      int64
number_of_open_complaints          int64
number_of_policies                 int64
policy_type                       object
policy                            object
renew_offer_type                  object
sales_channel                     object
total_claim_amount               float64
vehicle_class                     object
vehicle_size                      object
number_of_opern_complaints       float64
dtype: object

In [48]:
df.nunique()

customer                         9134
state                               6
customer_lifetime_value          8041
response                            3
coverage                            3
education                           5
effective_to_date                  59
employmentstatus                    5
gender                              2
income                           5694
location_code                       3
marital_status                      3
monthly_premium_auto              202
months_since_last_claim            36
months_since_policy_inception     100
number_of_open_complaints           6
number_of_policies                  9
policy_type                         3
policy                              9
renew_offer_type                    4
sales_channel                       4
total_claim_amount               5106
vehicle_class                       7
vehicle_size                        4
number_of_opern_complaints          6
dtype: int64

In [42]:
df.isna().sum()

customer                           0
state                            631
customer_lifetime_value            0
response                         631
coverage                           0
education                          0
effective_to_date                  0
employmentstatus                   0
gender                             0
income                             0
location_code                      0
marital_status                     0
monthly_premium_auto               0
months_since_last_claim          633
months_since_policy_inception      0
number_of_open_complaints          0
number_of_policies                 0
policy_type                        0
policy                             0
renew_offer_type                   0
sales_channel                      0
total_claim_amount                 0
vehicle_class                    622
vehicle_size                     622
number_of_opern_complaints         0
dtype: int64

In [44]:
df['state'] = df['state'].fillna('unknown')
df['response'] = df['response'].fillna('unknown')
df['months_since_last_claim'] = df['months_since_last_claim'].fillna(0)
df['vehicle_class'] = df['vehicle_class'].fillna('unknown')
df['vehicle_size'] = df['vehicle_size'].fillna('unknown')

In [46]:
df.isna().sum()

customer                         0
state                            0
customer_lifetime_value          0
response                         0
coverage                         0
education                        0
effective_to_date                0
employmentstatus                 0
gender                           0
income                           0
location_code                    0
marital_status                   0
monthly_premium_auto             0
months_since_last_claim          0
months_since_policy_inception    0
number_of_open_complaints        0
number_of_policies               0
policy_type                      0
policy                           0
renew_offer_type                 0
sales_channel                    0
total_claim_amount               0
vehicle_class                    0
vehicle_size                     0
number_of_opern_complaints       0
dtype: int64

In [50]:
df.rename(columns={'number_of_opern_complaints':'number_of_open_complaints'},inplace=True)

In [51]:
df.columns

Index(['customer', 'state', 'customer_lifetime_value', 'response', 'coverage',
       'education', 'effective_to_date', 'employmentstatus', 'gender',
       'income', 'location_code', 'marital_status', 'monthly_premium_auto',
       'months_since_last_claim', 'months_since_policy_inception',
       'number_of_open_complaints', 'number_of_policies', 'policy_type',
       'policy', 'renew_offer_type', 'sales_channel', 'total_claim_amount',
       'vehicle_class', 'vehicle_size', 'number_of_open_complaints'],
      dtype='object')

In [60]:
#check for duplicates

df.drop_duplicates(inplace=True)

In [61]:
df.duplicated().sum()

0

1. Create a new DataFrame that only includes customers who have a total_claim_amount greater than $1,000 and have a response of "Yes" to the last marketing campaign.

In [63]:
df['response'].unique()

array(['No', 'Yes', 'unknown'], dtype=object)

In [68]:
df_new1 = df[(df['total_claim_amount']>1000) & (df['response']=='Yes')]
print(df_new1.shape)
print(df_new1['response'].nunique())

(67, 25)
1

2. Using the original Dataframe, analyze the average total_claim_amount by each policy type and gender for customers who have responded "Yes" to the last marketing campaign. Write your conclusions.

In [72]:
df_pivot = df.pivot_table(index = 'policy_type', columns = 'gender', values = 'total_claim_amount', aggfunc='mean')
df_pivot

gender                   F           M
policy_type
Corporate Auto  398.507940  463.025713
Personal Auto   413.574444  459.255572
Special Auto    458.139623  420.355202

3. Analyze the total number of customers who have policies in each state, and then filter the results to only include states where there are more than 500 customers.

In [74]:
df_pivot1 = df.pivot_table(index = 'state', values = 'customer', aggfunc = 'count')
df_pivot1

            customer
state
Arizona         1928
California      3540
Nevada           988
Oregon          2892
Washington       885
unknown          612

In [78]:
df_pivot1filtered = df_pivot1[(df_pivot1['customer']>500)]
df_pivot1filtered

            customer
state
Arizona         1928
California      3540
Nevada           988
Oregon          2892
Washington       885
unknown          612

4. Find the maximum, minimum, and median customer lifetime value by education level and gender. Write your conclusions.

In [85]:
df_pivot2 = df.pivot_table(index = 'education', columns = 'gender', values = 'customer_lifetime_value', aggfunc='count')
df_pivot2

gender                   F     M
education
Bachelor              1691  1563
College               1604  1587
Doctor                 197   201
High School or Below  1580  1537
Master                 474   411

In [83]:
print(df_pivot2.max())
print(df_pivot2.min())
print(df_pivot2.median())

gender
F    1691
M    1587
dtype: int64
gender
F    197
M    201
dtype: int64
gender
F    1580.0
M    1537.0
dtype: float64

In [ ]:
#since my median average is pretty close to my max values,

## Bonus

5. The marketing team wants to analyze the number of policies sold by state and month. Present the data in a table where the months are arranged as columns and the states are arranged as rows.

6.  Display a new DataFrame that contains the number of policies sold by month, by state, for the top 3 states with the highest number of policies sold.

*Hint:*
- *To accomplish this, you will first need to group the data by state and month, then count the number of policies sold for each group. Afterwards, you will need to sort the data by the count of policies sold in descending order.*
- *Next, you will select the top 3 states with the highest number of policies sold.*
- *Finally, you will create a new DataFrame that contains the number of policies sold by month for each of the top 3 states.*

7. The marketing team wants to analyze the effect of different marketing channels on the customer response rate.

Hint: You can use melt to unpivot the data and create a table that shows the customer response rate (those who responded "Yes") by marketing channel.

External Resources for Data Filtering: https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9

In [ ]:
# your code goes here